# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [233]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [234]:
# put your answer here
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [235]:
# put your answer here
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [236]:
# put your answer here
df.shape

(48895, 16)

Identify the numerical features:

In [237]:
# put your answer here
df.select_dtypes(include=np.number).columns

Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

Identify the categorical features

In [238]:
df.select_dtypes(exclude=np.number).columns

Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object')

What are the top 5 questions this dataset might help answer?

In [239]:
# 1. What are the highest reviewed airBnb
# 2. What are the cheapest airbnb
# 3. What neighborhood group is the most popular
# 4. What room type you want to spend your days in
# 5. What neighborhood is the most popular

## B. Structuring

Check if the dataset has proper column types

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Check if the dataset has index issues

In [241]:
print(df.index.is_unique)
print(df.index)

True
RangeIndex(start=0, stop=48895, step=1)

Check if the dataset has duplicated rows

In [242]:
df.duplicated().sum()

np.int64(0)

Convert columns to correct types (e.g., dates → datetime).

In [243]:
print(df['last_review'])

0        2018-10-19
1        2019-05-21
2               NaN
3        2019-07-05
4        2018-11-19
            ...
48890           NaN
48891           NaN
48892           NaN
48893           NaN
48894           NaN
Name: last_review, Length: 48895, dtype: object

In [244]:
df['last_review'] = pd.to_datetime(df['last_review'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

Identify at least one structural issue and describe how to fix it.

In [245]:
# last_review was object type and was changed to datetime64[ns]

## C. Cleaning

Check for missing values

In [246]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [247]:
df['minimum_nights'].describe()

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Check for invalid values (e.g., price ≤ 0)

In [248]:
df[df['price'] <= 0].shape[0]

11

Apply a missing-value strategy (drop, fill, or flag)

In [249]:
df.dropna(subset=['last_review', 'host_name','name','reviews_per_month'], inplace=True)
df = df[df['price'] > 0]
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

Apply an outlier-handling strategy

In [250]:
Q1 = df['minimum_nights'].quantile(0.25)
Q3 = df['minimum_nights'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df = df[(df['minimum_nights'] >= lower_bound) & (df['minimum_nights'] <= upper_bound)]

print(f"DataFrame shape after removing outliers from minimum_nights: {df.shape}")

DataFrame shape after removing outliers from minimum_nights: (34351, 16)

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [251]:
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']
df['review_rate_per_month'] = df['number_of_reviews'] * df['reviews_per_month']
df['is_expensive'] = df['price'] > 500

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,149.000000,1.89,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,225.000000,17.10,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,89.000000,1252.80,False
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129,66.666667,43.66,False
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220,39.500000,1492.10,False

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [252]:
aggregated_summary = df.groupby('neighbourhood_group').agg(
    average_price=('price', 'mean'),
    number_of_hosts=('host_id', 'nunique')
).reset_index()

print("Aggregated Summary Table:")
print(aggregated_summary)

Aggregated Summary Table:
  neighbourhood_group  average_price  number_of_hosts
0               Bronx      80.741276              613
1            Brooklyn     123.033421            11972
2           Manhattan     178.558298            11967
3              Queens      95.392273             3032
4       Staten Island      90.126667              208

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [253]:
rule_price_positive = df['price'] <= 0
rule_host_id_not_null = df['host_id'].isnull()
rule_minimum_nights_gte_1 = df['minimum_nights'] < 1
rule_reviews_non_negative = df['number_of_reviews'] < 0


validation_report = {
    "Price must be positive": rule_price_positive.sum(),
    "Host ID should not be null": rule_host_id_not_null.sum(),
    "Minimum nights must be ≥ 1": rule_minimum_nights_gte_1.sum(),
        "Number of Positive reviews": rule_reviews_non_negative.sum()
}

report_df = pd.DataFrame.from_dict(validation_report, orient='index', columns=["Violation Count"])
report_df

                            Violation Count
Price must be positive                    0
Host ID should not be null                0
Minimum nights must be ≥ 1                0
Number of Positive reviews                0

## F. Publishing

Select final columns for publication.

In [254]:
# Select important columns for publication
selected_columns = [
    'price',
    'minimum_nights',
    'host_id',
    'neighbourhood_group',
    'room_type',
    'number_of_reviews',
    'reviews_per_month',
    'availability_365',
    'longitude',
    'latitude'
]

df_publication = df[selected_columns]

df_publication.head()

,price,minimum_nights,host_id,neighbourhood_group,room_type,number_of_reviews,reviews_per_month,availability_365,longitude,latitude
0,149,1,2787,Brooklyn,Private room,9,0.21,365,-73.97237,40.64749
1,225,1,2845,Manhattan,Entire home/apt,45,0.38,355,-73.98377,40.75362
3,89,1,4869,Brooklyn,Entire home/apt,270,4.64,194,-73.95976,40.68514
5,200,3,7322,Manhattan,Entire home/apt,74,0.59,129,-73.97500,40.74767
7,79,2,8967,Manhattan,Private room,430,3.47,220,-73.98493,40.76489

Export cleaned dataset as "cleaned_airbnb.csv"

In [255]:
df_publication.to_csv("cleaned_airbnb.csv", index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [257]:
comprehensive_report = df_publication.groupby(['price', 'room_type', 'neighbourhood_group']).agg(
    average_price=('price', 'mean'),
    average_minimum_nights=('minimum_nights', 'mean'),
    total_number_of_reviews=('number_of_reviews', 'sum'),
    average_reviews_per_month=('reviews_per_month', 'mean')
).reset_index()

comprehensive_report.to_csv('comprehensive_airbnb_report.csv', index=False)
print("Comprehensive report generated and saved to 'comprehensive_airbnb_report.csv'")
print(comprehensive_report.head())

Comprehensive report generated and saved to 'comprehensive_airbnb_report.csv'
   price        room_type neighbourhood_group  average_price  \
0     10  Entire home/apt            Brooklyn           10.0
1     10  Entire home/apt           Manhattan           10.0
2     10  Entire home/apt              Queens           10.0
3     10     Private room            Brooklyn           10.0
4     10     Private room           Manhattan           10.0

   average_minimum_nights  total_number_of_reviews  average_reviews_per_month
0                1.666667                      112                   2.100000
1                3.000000                       10                   0.390000
2                1.500000                       65                   1.720000
3                1.000000                        2                   2.000000
4                3.666667                       46                   1.023333